@use "../../App";

.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: calc(App.$mainHeight / 2);
  gap: 1em;
  width: 40%;
  color: App.$color-primary;
  border: 1px #e0e4eb solid;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 20px 60px 0 black;
  background-color: #ffffff;
  margin-top: 4%;
}

@media (max-width: 1200px) {
  .inputFields {
    width: 70vh;
    height: auto;
  }
}

@media (max-width: 450px) {
  .inputFields {
    width: auto;
    height: auto;
  }
}

.avatarLogo {
  border-radius: 50%;
  box-shadow: 0 20px 60px 0 black;
  display: block;
  margin: auto;
  margin-top: 1%;
}

.nameInput,
.fNameInput,
.emailInput,
.emailConfInput,
.passInput,
.passConfInput {
  font-family: App.$font-text;
  height: 2em;
  border: #196c84 solid 0.5px;
  border-radius: 1em;
  padding-left: 0.5em;
  color: App.$text-color-primary;
}

.localisationInput {
  height: 2.5em;
  border: #196c84 solid 0.5px;
  border-radius: 1em;
  padding-left: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  color: App.$text-color-primary;
}

.nameInput,
.fNameInput {
  width: 40%;
}

.nameInput {
  margin-left: 1em;
}

.fNameInput {
  margin-right: 1em;
}

.identityInputs {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.favatar {
  display: flex;
  padding: 0rem;
  margin: 0rem;
  padding-left: 0.8em;
}
.avatarPrev {
  display: flex;
  justify-content: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin-left: 44%;
}

.favatarInput,
.emailInput,
.emailConfInput,
.passInput,
.passConfInput {
  margin-right: 1em;
  margin-left: 1em;
}

.passConfInput {
  margin-bottom: 0%;
}

.validation {
  padding: 0.5em;
  border-radius: 1em;
  font-family: App.$font-text;
  box-shadow: 0 20px 60px 0 black;
  border: none;
  font-size: 1.2em;
  display: block;
  margin: auto;
  margin-top: 3%;
  color: App.$text-color-primary;
}

.validation {
  background: #ffffff;
  transition: background-color 0.5s ease-out 100ms;
}

.validation:hover {
  background-color: #27ae60;
}

.logoMS {
  position: absolute;
  height: 10em;
  left: 10%;
  top: 20%;
  z-index: -1;
}

.logoMS2 {
  position: absolute;
  height: 20em;
  right: 5%;
  top: 40%;
  z-index: -5;
  transform: rotate(-120deg);
}
.logoMS3 {
  margin-top: 3em;
  position: absolute;
  height: 7em;
  transform: rotate(-220deg);
  right: -2%;
  top: -1%;
}
.subscriptionForm {
  margin-top: 10em;
}
